<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" type="text/css" href="/public/css/main.css">
  <title>Final Project</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</head>
<div class="nav">
  <div>
    <a href="/">Home</a>
    <a href="/addCharacter">Add a Character</a>
    <a href="/alphabetical">Alphabetical Characters</a>
    <a href="/claim">Claim to the Iron Throne</a>
    <a href="/season/">Season Characters</a>
    <a href="/house/">Select a House</a>
    <a href="/most">Most Episodes</a>
  </div>
</div>

<body>
  {{{body}}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.js"></script>
</body>
</html>
